* {

background-color: #EADDCA;
font-family: "Bebas Neue";

}

h1 {

text-align: center;
font-size: 45px;
font-weight: 500;
box-sizing: border-box;
margin: 20px;
border: 7px dotted rgb(111, 78, 55);

}

#slogan { 

text-align: center;
font-size: 20px;
font-weight: 500;
font-family: "Caveat";

}

h2 {

text-align: center;
font-size: 30px;
border: 3px solid rgb(196, 164, 132);
margin: auto;
border-left-style: hidden;
border-right-style: hidden;

}

img {

width: 200px; 
height: 200px;
border: 3px solid rgb(111, 78, 55);
border-radius: 3px;

}

footer {

text-align: center;
font-size: 20px;
font-weight: 700;
border: 3px solid rgb(196, 164, 132);
margin: auto;
border-left-style: hidden;
border-right-style: hidden;

}

h3 {

font-weight: 500;
font-size: 20px;
border: 3px solid rgb(128, 70, 27);
border-top-style: hidden;
border-bottom-style: hidden;
border-right-style: hidden;
width: 450px; 
box-sizing: border-box;
margin: 10px;
text-align: center;
padding: 5px;

}

a {

font-family: "Indie Flower";
font-size: 15px;
font-weight: 700;


}

.coffee { 

display: flex;
flex-flow: row wrap;
justify-content: flex start; 
align-items: flex start; 
align-content: flex start; 
align-self: auto;
gap: 10px 10px;

}
